{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "no-shadow": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0
  }
}
