.clear-points {
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: 1em;
  background-color: inherit;
  cursor: pointer;
  color: #65818e;
}

.clear-points:hover {
  color: #5d6f78;
  text-decoration: underline;
}