.delete-point-btn {
  padding: 0;
  border: 0;
  background-color: inherit;
  width: 15px;
  height: 15px;
  font-size: 100%;
  color: inherit;
}

.delete-point-btn:hover {
  cursor: pointer;
  color: #65818e;
}