.route-builder_disabled {
  display: none
}

.route-builder {
  display: flex;
  animation: slide-up 1s ease;
  flex: 1;
  min-height: 0;
}

@keyframes slide-up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}