.point-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  border: solid 1px #d8d8d8;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #ededed;
}

.point-item:first-child {
  margin-top: 0px;
}

/*.point-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
} */

/* .point-item:nth-child(even) {
  background-color: #8bfbb2;
}

.point-item:nth-child(odd) {
  background-color: #effff4;
} */

.point-item:hover {
  background-color: #8bfbb2;
}

/* .point-item:last-child {
  padding-bottom: 0;
} */