.point-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: move;
  border: solid 1px #d8d8d8;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #f8f8f8;
}

.point-item_new {
  /* animation: slide-up 0.4s ease; */
  /*transition: all 0.15s ease-out; */
}

.point-item:first-child {
  margin-top: 0px;
}

.point-item__title {
  width: 95%;
  margin-right: 5px;
}

.point-item:hover {
  border-color: #65818e;
}