.map-container {
  height: 600px;
}

@media screen and (min-width: 1280px) {
  .map-container {
    width: 80%;
  }
}


@media screen and (min-width: 501px) and (max-width: 1279px) {
  .map-container {
    width: 65%;
  }
}

@media screen and (max-width: 500px) {
  .map-container {
    width: 50%;
  }
}